<div class="claseSubCategoriaHerramientas">
    <div class="claseProductosHerramientas">
        <div class="tituloHerramientas" >
            <h1>Para Corte</h1>
            <p catCuerpoSubPF="prodCorteF" class="flechasSubProd"><i class="fas fa-sort-down mostrarProdF"></i><i class="fas fa-sort-up ocultarProdF"></i></p>
        </div>
        <div catCuerpoSubPF="prodCorteF" class="cuerpoCategoria">
            <div class="itemSubProducto">
                <div class="imgItemSubProducto">
                    <a class="verfAlmacen">En Stock</a>
                    <img src="assets/ImgProductosHerramientas/CortadoraEmpalmeMecanico.png" alt="producto1">
                </div>
                <div class="caracteristicasItemSubProd">
                    <p>Alicate de ayuda para Conectores Rapidos</p>
                </div>
            </div>
            <div class="itemSubProducto">
                <div class="imgItemSubProducto">
                    <a class="verfAlmacen">En Stock</a>
                    <img src="assets/ImgProductosHerramientas/CortadorFibra.png" alt="producto2">
                </div>
                <div class="caracteristicasItemSubProd">
                    <p>Cortadora de Fibra Optica</p>
                </div>
            </div>
            <div class="itemSubProducto">
                <div class="imgItemSubProducto">
                    <a class="verfAlmacen">En Stock</a>
                    <img src="assets/ImgProductosHerramientas/CortaFibraInno-V7.png" alt="producto2">
                </div>
                <div class="caracteristicasItemSubProd">
                    <p>Cortadora de Fibra Optica Inno V7</p>
                </div>
            </div>
            <div class="itemSubProducto">
                <div class="imgItemSubProducto">
                    <a class="verfAlmacen">En Stock</a>
                    <img src="assets/ImgProductosHerramientas/CortaFibraFujikura.png" alt="producto2">
                </div>
                <div class="caracteristicasItemSubProd">
                    <p>Cortadora de Fibra Optica Fujikura</p>
                </div>
            </div>
            <div class="itemSubProducto">
                <div class="imgItemSubProducto">
                    <a class="verfAlmacen">En Stock</a>
                    <img src="assets/ImgProductosHerramientas/CortadorTijera.png" alt="producto3">
                </div>
                <div class="caracteristicasItemSubProd">
                    <p>Tijera de apoyo para Fibra Optica</p>
                </div>
            </div>
            <div class="itemSubProducto">
                <div class="imgItemSubProducto">
                    <a class="verfAlmacen">En Stock</a>
                    <img src="assets/ImgProductosHerramientas/CortadorStriper.png" alt="producto4">
                </div>
                <div class="caracteristicasItemSubProd">
                    <p>Alicate para quitar esmalte a la fibra optica</p>
                </div>
            </div>
            <div class="itemSubProducto">
                <div class="imgItemSubProducto">
                    <a class="verfAlmacen">En Stock</a>
                    <img src="assets/ImgProductosHerramientas/CortaTubete.png" alt="producto5">
                </div>
                <div class="caracteristicasItemSubProd">
                    <p>Alicate corta tubetes de fibra optica</p>
                </div>
            </div>
        </div>
    </div>
    <div class="claseProductosHerramientas">
        <div class="tituloHerramientas">
            <h1>Para Medir</h1>
            <p catCuerpoSubPF="prodMedirF" class="flechasSubProd"><i class="fas fa-sort-down mostrarProdF"></i><i class="fas fa-sort-up ocultarProdF"></i></p>
        </div>
        <div catCuerpoSubPF="prodMedirF" class="cuerpoCategoria">
            <div class="itemSubProducto">
                <div class="imgItemSubProducto">
                    <a class="verfAlmacen">En Stock</a>
                    <img src="assets/ImgProductosHerramientas/VFLGenerico.png" alt="producto5">
                </div>
                <div class="caracteristicasItemSubProd">
                    <p>VFL Generico</p>
                </div>
            </div>
        </div>
    </div>
    <div class="claseProductosHerramientas">
        <div class="tituloHerramientas" >
            <h1>Para Pelar</h1>
            <p catCuerpoSubPF="prodPelarF" class="flechasSubProd"><i class="fas fa-sort-down mostrarProdF"></i><i class="fas fa-sort-up ocultarProdF"></i></p>
        </div>
        <div catCuerpoSubPF="prodPelarF" class="cuerpoCategoria">
            <div class="itemSubProducto">
                <div class="imgItemSubProducto">
                    <a class="verfAlmacen">En Stock</a>
                    <img src="assets/ImgProductosHerramientas/PeladorFibra2.png" alt="producto1">
                </div>
                <div class="caracteristicasItemSubProd">
                    <p>Alicate para pelar primer capuchon de la fibra optica</p>
                </div>
            </div>
            <div class="itemSubProducto">
                <div class="imgItemSubProducto">
                    <a class="verfAlmacen">En Stock</a>
                    <img src="assets/ImgProductosHerramientas/PelaFibraLongitudinal.png" alt="producto1">
                </div>
                <div class="caracteristicasItemSubProd">
                    <p>Pelador de Fibra Longitudinal</p>
                </div>
            </div>
            <div class="itemSubProducto">
                <div class="imgItemSubProducto">
                    <a class="verfAlmacen">En Stock</a>
                    <img src="assets/ImgProductosHerramientas/PeladorFibraMetalico1.png" alt="producto1">
                </div>
                <div class="caracteristicasItemSubProd">
                    <p>Pelador de Fibra Metalico</p>
                </div>
            </div>
            <div class="itemSubProducto">
                <div class="imgItemSubProducto">
                    <a class="verfAlmacen">En Stock</a>
                    <img src="assets/ImgProductosHerramientas/PelaCableFibraRounter.png" alt="producto1">
                </div>
                <div class="caracteristicasItemSubProd">
                    <p>Pelador de Fibra Rounted</p>
                </div>
            </div>
            <div class="itemSubProducto">
                <div class="imgItemSubProducto">
                    <a class="verfAlmacen">En Stock</a>
                    <img src="assets/ImgProductosHerramientas/PeladoraSangria2.png" alt="producto2">
                </div>
                <div class="caracteristicasItemSubProd">
                    <p>Alicate para realizar sangrias en fibra optica</p>
                </div>
            </div>
            <div class="itemSubProducto">
                <div class="imgItemSubProducto">
                    <a class="verfAlmacen">En Stock</a>
                    <img src="assets/ImgProductosHerramientas/PeladorFibra1.png" alt="producto3">
                </div>
                <div class="caracteristicasItemSubProd">
                    <p>Alicate para pelar primer capuchon de la fibra optica</p>
                </div>
            </div>
            <div class="itemSubProducto">
                <div class="imgItemSubProducto">
                    <a class="verfAlmacen">En Stock</a>
                    <img src="assets/ImgProductosHerramientas/PeladoraSangria.png" alt="producto4">
                </div>
                <div class="caracteristicasItemSubProd">
                    <p>Alicate para realizar sangrias en fibra optica</p>
                </div>
            </div>
        </div>
    </div>
    <div class="claseProductosHerramientas">
        <div class="tituloHerramientas" >
            <h1>Termocontraibles</h1>
            <p catCuerpoSubPF="prodTermoF" class="flechasSubProd"><i class="fas fa-sort-down mostrarProdF"></i><i class="fas fa-sort-up ocultarProdF"></i></p>
        </div>
        <div catCuerpoSubPF="prodTermoF" class="cuerpoCategoria">

        </div>
    </div>
</div>
