<div class="claseSubCategoriaFibra">
    <div class="claseProductosFibra">
        <div class="tituloFibra" >
            <h1>Fibra Optica Monomodo</h1>
            <p catCuerpoSubPF="cableMonomodo" class="flechasSubProd"><i class="fas fa-sort-down mostrarProdF"></i><i class="fas fa-sort-up ocultarProdF"></i></p>
        </div>
        <div catCuerpoSubPF="cableMonomodo" class="cuerpoCategoria">
            <div class="itemSubProducto">
                <div class="imgItemSubProducto">
                    <a class="verfAlmacen">En Stock</a>
                    <img src="assets/ImgProductosFibra/fibraOptMonomodo1.png" alt="producto1">
                </div>
                <div class="caracteristicasItemSubProd">
                    <p>Nombre y caracteristicas del producto a mostrar</p>
                </div>
            </div>
            <div class="itemSubProducto">
                <div class="imgItemSubProducto">
                    <a class="verfAlmacen">Agotado</a>
                    <img src="assets/ImgProductosFibra/prueva11.png" alt="producto2">
                </div>
                <div class="caracteristicasItemSubProd">
                    <p>Nombre y caracteristicas del producto a mostrar</p>
                </div>
            </div>
            <div class="itemSubProducto">
                <div class="imgItemSubProducto">
                    <a class="verfAlmacen">Nuevo</a>
                    <img src="assets/ImgProductosFibra/fibraOptMonomodo3.png" alt="producto3">
                </div>
                <div class="caracteristicasItemSubProd">
                    <p>Nombre y caracteristicas del producto a mostrar</p>
                </div>
            </div>
            <div class="itemSubProducto">
                <div class="imgItemSubProducto">
                    <a class="verfAlmacen">Proximamente</a>
                    <img src="assets/ImgProductosFibra/fibraOptMonomodo4.png" alt="producto1">
                </div>
                <div class="caracteristicasItemSubProd">
                    <p>Nombre y caracteristicas del producto a mostrar</p>
                </div>
            </div>
        </div>
    </div>
    <div class="claseProductosFibra">
        <div class="tituloFibra">
            <h1>Fibra Optica Multimodo</h1>
            <p catCuerpoSubPF="cableMultimodo" class="flechasSubProd"><i class="fas fa-sort-down mostrarProdF"></i><i class="fas fa-sort-up ocultarProdF"></i></p>
        </div>
        <div catCuerpoSubPF="cableMultimodo" class="cuerpoCategoria">
            
        </div>
    </div>
    <div class="claseProductosFibra">
        <div class="tituloFibra">
            <h1>Fibra Optica Tipo Drop</h1>
            <p catCuerpoSubPF="cableDrop" class="flechasSubProd"><i class="fas fa-sort-down mostrarProdF"></i><i class="fas fa-sort-up ocultarProdF"></i></p>
        </div>
        <div catCuerpoSubPF="cableDrop" class="cuerpoCategoria">
            <div class="itemSubProducto">
                <div class="imgItemSubProducto">
                    <a class="verfAlmacen">Proximamente</a>
                    <img src="assets/ImgProductosFibra/CableDrop2Hilos.png" alt="producto1">
                </div>
                <div class="caracteristicasItemSubProd">
                    <p>Cable Drop 2 Hilos 1 Km</p>
                </div>
            </div>
        </div>
    </div>
</div>