<div class="claseSubCategoriaConectividad">
    <div class="claseProductosConector">
        <div class="tituloConector" >
            <h1>Patch Core</h1>
            <p catCuerpoSubPF="conectPatch" class="flechasSubProd"><i class="fas fa-sort-down mostrarProdF"></i><i class="fas fa-sort-up ocultarProdF"></i></p>
        </div>
        <div catCuerpoSubPF="conectPatch" class="cuerpoCategoria">
            <div class="itemSubProducto">
                <div class="imgItemSubProducto">
                    <a class="verfAlmacen">En Stock</a>
                    <img src="assets/ImgProductosConectividad/LcPc-Duplex.png" alt="producto1">
                </div>
                <div class="caracteristicasItemSubProd">
                    <p>Patch Core LcPc Duplex 3mts, 6mts y 15mts</p>
                </div>
            </div>
            <div class="itemSubProducto">
                <div class="imgItemSubProducto">
                    <a class="verfAlmacen">Agotado</a>
                    <img src="assets/ImgProductosConectividad/LcPc-Duplex-OM3.png" alt="producto2">
                </div>
                <div class="caracteristicasItemSubProd">
                    <p>Patch Core LcPc Duplex OM3 3mts, 6mts y 15mts</p>
                </div>
            </div>
            <div class="itemSubProducto">
                <div class="imgItemSubProducto">
                    <a class="verfAlmacen">Nuevo</a>
                    <img src="assets/ImgProductosConectividad/ScApc-Duplex.png" alt="producto3">
                </div>
                <div class="caracteristicasItemSubProd">
                    <p>Patch Core ScApc Duplex 3mts, 6mts y 15mts</p>
                </div>
            </div>
            <div class="itemSubProducto">
                <div class="imgItemSubProducto">
                    <a class="verfAlmacen">Proximamente</a>
                    <img src="assets/ImgProductosConectividad/ScApc-Simplex.png" alt="producto4">
                </div>
                <div class="caracteristicasItemSubProd">
                    <p>Patch Core ScApc Simplex 3mts, 6mts y 15mts</p>
                </div>
            </div>
            <div class="itemSubProducto">
                <div class="imgItemSubProducto">
                    <a class="verfAlmacen">Proximamente</a>
                    <img src="assets/ImgProductosConectividad/ScPc-Duplex-OM3.png" alt="producto5">
                </div>
                <div class="caracteristicasItemSubProd">
                    <p>Patch Core ScPc Duplex OM3 3mts, 6mts y 15mts</p>
                </div>
            </div>
            <div class="itemSubProducto">
                <div class="imgItemSubProducto">
                    <a class="verfAlmacen">Proximamente</a>
                    <img src="assets/ImgProductosConectividad/ScUpc-Duplex.png" alt="producto6">
                </div>
                <div class="caracteristicasItemSubProd">
                    <p>Patch Core ScUpc Duplex 3mts, 6mts y 15mts</p>
                </div>
            </div>
            <div class="itemSubProducto">
                <div class="imgItemSubProducto">
                    <a class="verfAlmacen">Proximamente</a>
                    <img src="assets/ImgProductosConectividad/ScUpc-LcUpc-Duplex.png" alt="producto7">
                </div>
                <div class="caracteristicasItemSubProd">
                    <p>Patch Core ScUpc-LcUpc Duplex 3mts, 6mts y 15mts</p>
                </div>
            </div>
        </div>
    </div>
    <div class="claseProductosConector">
        <div class="tituloConector">
            <h1>Pigtails</h1>
            <p catCuerpoSubPF="conectPigtail" class="flechasSubProd"><i class="fas fa-sort-down mostrarProdF"></i><i class="fas fa-sort-up ocultarProdF"></i></p>
        </div>
        <div catCuerpoSubPF="conectPigtail" class="cuerpoCategoria">
            <div class="itemSubProducto">
                <div class="imgItemSubProducto">
                    <a class="verfAlmacen">Proximamente</a>
                    <img src="assets/ImgProductosConectividad/Pigtail-ScApc-SingleMode.png" alt="producto1">
                </div>
                <div class="caracteristicasItemSubProd">
                    <p>Pigtail ScApc Single Mode 3mts.</p>
                </div>
            </div>
            <div class="itemSubProducto">
                <div class="imgItemSubProducto">
                    <a class="verfAlmacen">Proximamente</a>
                    <img src="assets/ImgProductosConectividad/Pigtail-ScUpc-OM3.png" alt="producto2">
                </div>
                <div class="caracteristicasItemSubProd">
                    <p>Pigtail ScUpc OM3 3mts.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="claseProductosConector">
        <div class="tituloConector">
            <h1>Spliter</h1>
            <p catCuerpoSubPF="conectSpliter" class="flechasSubProd"><i class="fas fa-sort-down mostrarProdF"></i><i class="fas fa-sort-up ocultarProdF"></i></p>
        </div>
        <div catCuerpoSubPF="conectSpliter" class="cuerpoCategoria">
            <div class="itemSubProducto">
                <div class="imgItemSubProducto">
                    <a class="verfAlmacen">En Stock</a>
                    <img src="assets/ImgProductosConectividad/Splitter-1-4.png" alt="producto1">
                </div>
                <div class="caracteristicasItemSubProd">
                    <p>Splitter 1:4</p>
                </div>
            </div>
            <div class="itemSubProducto">
                <div class="imgItemSubProducto">
                    <a class="verfAlmacen">En Stock</a>
                    <img src="assets/ImgProductosConectividad/Splitter-1-8.png" alt="producto2">
                </div>
                <div class="caracteristicasItemSubProd">
                    <p>Splitter 1:8</p>
                </div>
            </div>
            <div class="itemSubProducto">
                <div class="imgItemSubProducto">
                    <a class="verfAlmacen">En Stock</a>
                    <img src="assets/ImgProductosConectividad/Splitter-1-16.png" alt="producto3">
                </div>
                <div class="caracteristicasItemSubProd">
                    <p>Splitter 1:16</p>
                </div>
            </div>
        </div>
    </div>
    <div class="claseProductosConector">
        <div class="tituloConector">
            <h1>Conectores Rapidos</h1>
            <p catCuerpoSubPF="conectRapido" class="flechasSubProd"><i class="fas fa-sort-down mostrarProdF"></i><i class="fas fa-sort-up ocultarProdF"></i></p>
        </div>
        <div catCuerpoSubPF="conectRapido" class="cuerpoCategoria">
            <div class="itemSubProducto">
                <div class="imgItemSubProducto">
                    <a class="verfAlmacen">En Stock</a>
                    <img src="assets/ImgProductosConectividad/conector1.png" alt="producto2">
                </div>
                <div class="caracteristicasItemSubProd">
                    <p>Conector Scpc.</p>
                </div>
            </div>
            <div class="itemSubProducto">
                <div class="imgItemSubProducto">
                    <a class="verfAlmacen">En Stock</a>
                    <img src="assets/ImgProductosConectividad/conector2.png" alt="producto2">
                </div>
                <div class="caracteristicasItemSubProd">
                    <p>Conector Scpc.</p>
                </div>
            </div>
            <div class="itemSubProducto">
                <div class="imgItemSubProducto">
                    <a class="verfAlmacen">En Stock</a>
                    <img src="assets/ImgProductosConectividad/conector3.png" alt="producto2">
                </div>
                <div class="caracteristicasItemSubProd">
                    <p>Conector Scpc.</p>
                </div>
            </div>
            <div class="itemSubProducto">
                <div class="imgItemSubProducto">
                    <a class="verfAlmacen">En Stock</a>
                    <img src="assets/ImgProductosConectividad/conector4.png" alt="producto2">
                </div>
                <div class="caracteristicasItemSubProd">
                    <p>Conector Scpc.</p>
                </div>
            </div>
            <div class="itemSubProducto">
                <div class="imgItemSubProducto">
                    <a class="verfAlmacen">En Stock</a>
                    <img src="assets/ImgProductosConectividad/conector5.png" alt="producto2">
                </div>
                <div class="caracteristicasItemSubProd">
                    <p>Conector Scpc.</p>
                </div>
            </div>
            <div class="itemSubProducto">
                <div class="imgItemSubProducto">
                    <a class="verfAlmacen">En Stock</a>
                    <img src="assets/ImgProductosConectividad/conector6.png" alt="producto2">
                </div>
                <div class="caracteristicasItemSubProd">
                    <p>Conector Scpc.</p>
                </div>
            </div>
            <div class="itemSubProducto">
                <div class="imgItemSubProducto">
                    <a class="verfAlmacen">En Stock</a>
                    <img src="assets/ImgProductosConectividad/conector7.png" alt="producto2">
                </div>
                <div class="caracteristicasItemSubProd">
                    <p>Conector Scpc.</p>
                </div>
            </div>
            <div class="itemSubProducto">
                <div class="imgItemSubProducto">
                    <a class="verfAlmacen">En Stock</a>
                    <img src="assets/ImgProductosConectividad/conector8.png" alt="producto2">
                </div>
                <div class="caracteristicasItemSubProd">
                    <p>Conector Scpc.</p>
                </div>
            </div>
            <div class="itemSubProducto">
                <div class="imgItemSubProducto">
                    <a class="verfAlmacen">En Stock</a>
                    <img src="assets/ImgProductosConectividad/conector9.png" alt="producto2">
                </div>
                <div class="caracteristicasItemSubProd">
                    <p>Conector Scpc.</p>
                </div>
            </div>
            <div class="itemSubProducto">
                <div class="imgItemSubProducto">
                    <a class="verfAlmacen">En Stock</a>
                    <img src="assets/ImgProductosConectividad/ConectorMecanico.png" alt="producto2">
                </div>
                <div class="caracteristicasItemSubProd">
                    <p>Conector Mecanico de Campo</p>
                </div>
            </div>
        </div>
    </div>
</div>