<div class="claseSubCategoriaInstExterna">
    <div class="claseProductosExterna">
        <div class="tituloExterna" >
            <h1>Muflas</h1>
            <p catCuerpoSubPF="prodMufla" class="flechasSubProd"><i class="fas fa-sort-down mostrarProdF"></i><i class="fas fa-sort-up ocultarProdF"></i></p>
        </div>
        <div catCuerpoSubPF="prodMufla" class="cuerpoCategoria">
            <div class="itemSubProducto">
                <div class="imgItemSubProducto">
                    <a class="verfAlmacen">En Stock</a>
                    <img src="assets/ImgProductosInstExterna/Mufla-5M5-144H.png" alt="producto1">
                </div>
                <div class="caracteristicasItemSubProd">
                    <p>Mufla 5M5 144 hilos</p>
                </div>
            </div>
            <div class="itemSubProducto">
                <div class="imgItemSubProducto">
                    <a class="verfAlmacen">En Stock</a>
                    <img src="assets/ImgProductosInstExterna/Mulfa-D08-24H.png" alt="producto2">
                </div>
                <div class="caracteristicasItemSubProd">
                    <p>Mufla D08 24 hilos</p>
                </div>
            </div>
            <div class="itemSubProducto">
                <div class="imgItemSubProducto">
                    <a class="verfAlmacen">En Stock</a>
                    <img src="assets/ImgProductosInstExterna/Mufla-GJS-H001-48H.png" alt="producto3">
                </div>
                <div class="caracteristicasItemSubProd">
                    <p>Mufla GJS H001 48 hilos</p>
                </div>
            </div>
            <div class="itemSubProducto">
                <div class="imgItemSubProducto">
                    <a class="verfAlmacen">En Stock</a>
                    <img src="assets/ImgProductosInstExterna/Mufla-GJS-H009-TL-013.png" alt="producto4">
                </div>
                <div class="caracteristicasItemSubProd">
                    <p>Mufla GJS H009 TL013 48 hilos</p>
                </div>
            </div>
            <div class="itemSubProducto">
                <div class="imgItemSubProducto">
                    <a class="verfAlmacen">En Stock</a>
                    <img src="assets/ImgProductosInstExterna/Mufla-GPJ09-6408-TL-012.png" alt="producto5">
                </div>
                <div class="caracteristicasItemSubProd">
                    <p>Mufla GPJ09 6408 TL012 48 hilos</p>
                </div>
            </div>
            <div class="itemSubProducto">
                <div class="imgItemSubProducto">
                    <a class="verfAlmacen">En Stock</a>
                    <img src="assets/ImgProductosInstExterna/Mufla-GPJ09L6-BJ-144H.png" alt="producto6">
                </div>
                <div class="caracteristicasItemSubProd">
                    <p>Mufla GPJ09L6 BJ 144 hilos</p>
                </div>
            </div>
            <div class="itemSubProducto">
                <div class="imgItemSubProducto">
                    <a class="verfAlmacen">En Stock</a>
                    <img src="assets/ImgProductosInstExterna/Mufla-GPJ09L9-BR-72H.png" alt="producto7">
                </div>
                <div class="caracteristicasItemSubProd">
                    <p>Mufla GPJ09L9 BR 72 hilos</p>
                </div>
            </div>
            <div class="itemSubProducto">
                <div class="imgItemSubProducto">
                    <a class="verfAlmacen">En Stock</a>
                    <img src="assets/ImgProductosInstExterna/Mufla-GPJOL5-BR-96H.png" alt="producto8">
                </div>
                <div class="caracteristicasItemSubProd">
                    <p>Mufla GPJOL5 BR 96 hilos</p>
                </div>
            </div>
            <div class="itemSubProducto">
                <div class="imgItemSubProducto">
                    <a class="verfAlmacen">En Stock</a>
                    <img src="assets/ImgProductosInstExterna/Mufla-MF-96FO-144H.png" alt="producto9">
                </div>
                <div class="caracteristicasItemSubProd">
                    <p>Mufla MF de 96 hilos a 144 hilos</p>
                </div>
            </div>
            <div class="itemSubProducto">
                <div class="imgItemSubProducto">
                    <a class="verfAlmacen">En Stock</a>
                    <img src="assets/ImgProductosInstExterna/Mufla-PBIG14-1-96H.png" alt="producto10">
                </div>
                <div class="caracteristicasItemSubProd">
                    <p>Mufla PBIG14 1 de 96 hilos</p>
                </div>
            </div>
            <div class="itemSubProducto">
                <div class="imgItemSubProducto">
                    <a class="verfAlmacen">En Stock</a>
                    <img src="assets/ImgProductosInstExterna/Mufla-TL013B-96H.png" alt="producto11">
                </div>
                <div class="caracteristicasItemSubProd">
                    <p>Mufla TL013B 96 hilos</p>
                </div>
            </div>
        </div>
    </div>
    <div class="claseProductosExterna">
        <div class="tituloExterna">
            <h1>Bandejas Para Ampliación</h1>
            <p catCuerpoSubPF="prodBandejasA" class="flechasSubProd"><i class="fas fa-sort-down mostrarProdF"></i><i class="fas fa-sort-up ocultarProdF"></i></p>
        </div>
        <div catCuerpoSubPF="prodBandejasA" class="cuerpoCategoria">
            <div class="itemSubProducto">
                <div class="imgItemSubProducto">
                    <a class="verfAlmacen">En Stock</a>
                    <img src="assets/ImgProductosInstExterna/BandejaExpansionCoyote.png" alt="producto1">
                </div>
                <div class="caracteristicasItemSubProd">
                    <p>Bandeja expansion tipo Coyote</p>
                </div>
            </div>
        </div>
    </div>
    <div class="claseProductosExterna">
        <div class="tituloExterna">
            <h1>Cajas NAP</h1>
            <p catCuerpoSubPF="prodNap" class="flechasSubProd"><i class="fas fa-sort-down mostrarProdF"></i><i class="fas fa-sort-up ocultarProdF"></i></p>
        </div>
        <div catCuerpoSubPF="prodNap" class="cuerpoCategoria">
            <div class="itemSubProducto">
                <div class="imgItemSubProducto">
                    <a class="verfAlmacen">En Stock</a>
                    <img src="assets/ImgProductosInstExterna/NAP-GPJO-16H.png" alt="producto1">
                </div>
                <div class="caracteristicasItemSubProd">
                    <p>Nap GPJO 16 salidas</p>
                </div>
            </div>
        </div>
    </div>
    <div class="claseProductosExterna">
        <div class="tituloExterna">
            <h1>Ferretería</h1>
            <p catCuerpoSubPF="prodFerreteria" class="flechasSubProd"><i class="fas fa-sort-down mostrarProdF"></i><i class="fas fa-sort-up ocultarProdF"></i></p>
        </div>
        <div catCuerpoSubPF="prodFerreteria" class="cuerpoCategoria">
            <div class="itemSubProducto">
                <div class="imgItemSubProducto">
                    <a class="verfAlmacen">En Stock</a>
                    <img src="assets/ImgProductosInstExterna/rack1.png" alt="producto1">
                </div>
                <div class="caracteristicasItemSubProd">
                    <p>Ferreteria de sujeción tipo rack</p>
                </div>
            </div>
            <div class="itemSubProducto">
                <div class="imgItemSubProducto">
                    <a class="verfAlmacen">En Stock</a>
                    <img src="assets/ImgProductosInstExterna/ancoraje1.png" alt="producto2">
                </div>
                <div class="caracteristicasItemSubProd">
                    <p>Ferretería de sujeción tipo ancoraje TL-02</p>
                </div>
            </div>
            <div class="itemSubProducto">
                <div class="imgItemSubProducto">
                    <a class="verfAlmacen">En Stock</a>
                    <img src="assets/ImgProductosInstExterna/ancoraje2.png" alt="producto3">
                </div>
                <div class="caracteristicasItemSubProd">
                    <p>Ferretería de sujeción tipo ancoraje TL-13</p>
                </div>
            </div>
            <div class="itemSubProducto">
                <div class="imgItemSubProducto">
                    <a class="verfAlmacen">En Stock</a>
                    <img src="assets/ImgProductosInstExterna/Cruceta55cm.png" alt="producto4">
                </div>
                <div class="caracteristicasItemSubProd">
                    <p>Cruceta de reserva de 55 cm (60 mts aprox.)</p>
                </div>
            </div>
            <div class="itemSubProducto">
                <div class="imgItemSubProducto">
                    <a class="verfAlmacen">En Stock</a>
                    <img src="assets/ImgProductosInstExterna/BrazoDeExtension.png" alt="producto5">
                </div>
                <div class="caracteristicasItemSubProd">
                    <p>Brazo extendible hasta 1.2 mts.</p>
                </div>
            </div>
            <div class="itemSubProducto">
                <div class="imgItemSubProducto">
                    <a class="verfAlmacen">En Stock</a>
                    <img src="assets/ImgProductosInstExterna/DadoDePaso.png" alt="producto6">
                </div>
                <div class="caracteristicasItemSubProd">
                    <p>Ferretería de sujeción tipo Dado de paso</p>
                </div>
            </div>
            <div class="itemSubProducto">
                <div class="imgItemSubProducto">
                    <a class="verfAlmacen">En Stock</a>
                    <img src="assets/ImgProductosInstExterna/Bap2.png" alt="producto7">
                </div>
                <div class="caracteristicasItemSubProd">
                    <p>Ferretería de sujeción cinturon Bap 2 y Bap 3</p>
                </div>
            </div>
            <div class="itemSubProducto">
                <div class="imgItemSubProducto">
                    <a class="verfAlmacen">En Stock</a>
                    <img src="assets/ImgProductosInstExterna/Antivibrador.png" alt="producto8">
                </div>
                <div class="caracteristicasItemSubProd">
                    <p>Antivibrador de 1.2 mts.</p>
                </div>
            </div>
            <div class="itemSubProducto">
                <div class="imgItemSubProducto">
                    <a class="verfAlmacen">En Stock</a>
                    <img src="assets/ImgProductosInstExterna/MallaYSobreMalla.png" alt="producto9">
                </div>
                <div class="caracteristicasItemSubProd">
                    <p>Ferretería de sujeción malla y sobremalla (carga roja, verde y lila)</p>
                </div>
            </div>
        </div>
    </div>
</div>
