<div class="claseSubCategoriaEquipos">
    <div class="claseProductosEquipos">
        <div class="tituloEquipos" >
            <h1>OTDR</h1>
            <p catCuerpoSubPF="prodOtdrs" class="flechasSubProd"><i class="fas fa-sort-down mostrarProdF"></i><i class="fas fa-sort-up ocultarProdF"></i></p>
        </div>
        <div catCuerpoSubPF="prodOtdrs" class="cuerpoCategoria">
            <div class="itemSubProducto">
                <div class="imgItemSubProducto">
                    <a class="verfAlmacen">En Stock</a>
                    <img src="assets/ImgProductosEquipos/OtdrExfo.png" alt="producto1">
                </div>
                <div class="caracteristicasItemSubProd">
                    <p>Otdr Exfo F-B1 1310 1550 </p>
                </div>
            </div>
            <div class="itemSubProducto">
                <div class="imgItemSubProducto">
                    <a class="verfAlmacen">En Stock</a>
                    <img src="assets/ImgProductosEquipos/OtdrF2h.png" alt="producto2">
                </div>
                <div class="caracteristicasItemSubProd">
                    <p>Otdr F2h 1310 1490 1550</p>
                </div>
            </div>
        </div>
    </div>
    <div class="claseProductosEquipos">
        <div class="tituloEquipos">
            <h1>Fusionadoras</h1>
            <p catCuerpoSubPF="prodFusionadoras" class="flechasSubProd"><i class="fas fa-sort-down mostrarProdF"></i><i class="fas fa-sort-up ocultarProdF"></i></p>
        </div>
        <div catCuerpoSubPF="prodFusionadoras" class="cuerpoCategoria">
            <div class="itemSubProducto">
                <div class="imgItemSubProducto">
                    <a class="verfAlmacen">En Stock</a>
                    <img src="assets/ImgProductosEquipos/FusionadoraFujikura70S.png" alt="producto1">
                </div>
                <div class="caracteristicasItemSubProd">
                    <p>Fusionadora Fujikura 70S</p>
                </div>
            </div>
            <div class="itemSubProducto">
                <div class="imgItemSubProducto">
                    <a class="verfAlmacen">En Stock</a>
                    <img src="assets/ImgProductosEquipos/FusionadoraComwayC10.png" alt="producto2">
                </div>
                <div class="caracteristicasItemSubProd">
                    <p>Fusionadora Comway C10</p>
                </div>
            </div>
            <div class="itemSubProducto">
                <div class="imgItemSubProducto">
                    <a class="verfAlmacen">En Stock</a>
                    <img src="assets/ImgProductosEquipos/ElectrodoFujikura.png" alt="producto3">
                </div>
                <div class="caracteristicasItemSubProd">
                    <p>Repuesto de Electrodos para fusionadora Fujikura</p>
                </div>
            </div>
        </div>
    </div>
    <div class="claseProductosEquipos">
        <div class="tituloEquipos">
            <h1>Media Converter</h1>
            <p catCuerpoSubPF="prodMediaConv" class="flechasSubProd"><i class="fas fa-sort-down mostrarProdF"></i><i class="fas fa-sort-up ocultarProdF"></i></p>
        </div>
        <div catCuerpoSubPF="prodMediaConv" class="cuerpoCategoria">
            <div class="itemSubProducto">
                <div class="imgItemSubProducto">
                    <a class="verfAlmacen">En Stock</a>
                    <img src="assets/ImgProductosEquipos/MediaConverter.png" alt="producto1">
                </div>
                <div class="caracteristicasItemSubProd">
                    <p>Media Converter</p>
                </div>
            </div>
            <div class="itemSubProducto">
                <div class="imgItemSubProducto">
                    <a class="verfAlmacen">En Stock</a>
                    <img src="assets/ImgProductosEquipos/MediaEthernetConverter.png" alt="producto1">
                </div>
                <div class="caracteristicasItemSubProd">
                    <p>Media Ethernet Converter</p>
                </div>
            </div>
        </div>
    </div>
    <div class="claseProductosEquipos">
        <div class="tituloEquipos">
            <h1>Medición De Potencía</h1>
            <p catCuerpoSubPF="prodMedPotencia" class="flechasSubProd"><i class="fas fa-sort-down mostrarProdF"></i><i class="fas fa-sort-up ocultarProdF"></i></p>
        </div>
        <div catCuerpoSubPF="prodMedPotencia" class="cuerpoCategoria">
            <div class="itemSubProducto">
                <div class="imgItemSubProducto">
                    <a class="verfAlmacen">En Stock</a>
                    <img src="assets/ImgProductosEquipos/PowerMeterF2hPequeño.png" alt="producto1">
                </div>
                <div class="caracteristicasItemSubProd">
                    <p>Power Meter F2H 1490 y 1550</p>
                </div>
            </div>
            <div class="itemSubProducto">
                <div class="imgItemSubProducto">
                    <a class="verfAlmacen">En Stock</a>
                    <img src="assets/ImgProductosEquipos/LiveSourceF2H.png" alt="producto1">
                </div>
                <div class="caracteristicasItemSubProd">
                    <p>Laser Source F2H 1310 y 1550</p>
                </div>
            </div>
            <div class="itemSubProducto">
                <div class="imgItemSubProducto">
                    <a class="verfAlmacen">En Stock</a>
                    <img src="assets/ImgProductosEquipos/PowerMeterF2H.png" alt="producto1">
                </div>
                <div class="caracteristicasItemSubProd">
                    <p>Power Meter F2H</p>
                </div>
            </div>
            <div class="itemSubProducto">
                <div class="imgItemSubProducto">
                    <a class="verfAlmacen">En Stock</a>
                    <img src="assets/ImgProductosEquipos/PowerMeterExfo.png" alt="producto1">
                </div>
                <div class="caracteristicasItemSubProd">
                    <p>Power Meter Exfo</p>
                </div>
            </div>
            <div class="itemSubProducto">
                <div class="imgItemSubProducto">
                    <a class="verfAlmacen">En Stock</a>
                    <img src="assets/ImgProductosEquipos/LaserSourceF2H.png" alt="producto1">
                </div>
                <div class="caracteristicasItemSubProd">
                    <p>Laser Source F2H</p>
                </div>
            </div>
            <div class="itemSubProducto">
                <div class="imgItemSubProducto">
                    <a class="verfAlmacen">En Stock</a>
                    <img src="assets/ImgProductosEquipos/LaserSourceExfo.png" alt="producto1">
                </div>
                <div class="caracteristicasItemSubProd">
                    <p>Laser Source Exfo</p>
                </div>
            </div>
        </div>
        
    </div>
    <div class="claseProductosEquipos">
        <div class="tituloEquipos">
            <h1>Kit De Herramientas</h1>
            <p catCuerpoSubPF="prodKitHerra" class="flechasSubProd"><i class="fas fa-sort-down mostrarProdF"></i><i class="fas fa-sort-up ocultarProdF"></i></p>
        </div>
        <div catCuerpoSubPF="prodKitHerra" class="cuerpoCategoria">
            <div class="itemSubProducto">
                <div class="imgItemSubProducto">
                    <a class="verfAlmacen">En Stock</a>
                    <img src="assets/ImgProductosEquipos/KitLimpiezaFibra.png" alt="producto2">
                </div>
                <div class="caracteristicasItemSubProd">
                    <p>Kit de limpieza para realizar empalmes de fibra Optíca</p>
                </div>
            </div>
            <div class="itemSubProducto">
                <div class="imgItemSubProducto">
                    <a class="verfAlmacen">En Stock</a>
                    <img src="assets/ImgProductosEquipos/KitFusionFibra.png" alt="producto3">
                </div>
                <div class="caracteristicasItemSubProd">
                    <p>Kit de productos para realizar empalmes de fibra Optíca</p>
                </div>
            </div>
        </div>
    </div>
</div>
