<div class="claseSubCategoriaLimpieza">
    <div class="claseProductosLimpieza">
        <div class="tituloLimpieza" >
            <h1>Cotonetes</h1>
            <p catCuerpoSubPF="prodCotonetes" class="flechasSubProd"><i class="fas fa-sort-down mostrarProdF"></i><i class="fas fa-sort-up ocultarProdF"></i></p>
        </div>
        <div catCuerpoSubPF="prodCotonetes" class="cuerpoCategoria">

        </div>
    </div>
    <div class="claseProductosLimpieza">
        <div class="tituloLimpieza" >
            <h1>Limpiador De Acopladores</h1>
            <p catCuerpoSubPF="prodLimpiaAco" class="flechasSubProd"><i class="fas fa-sort-down mostrarProdF"></i><i class="fas fa-sort-up ocultarProdF"></i></p>
        </div>
        <div catCuerpoSubPF="prodLimpiaAco" class="cuerpoCategoria">
            <div class="itemSubProducto">
                <div class="imgItemSubProducto">
                    <a class="verfAlmacen">En Stock</a>
                    <img src="assets/ImgProductosPLimpieza/LimpiadorConectores1.png" alt="producto1">
                </div>
                <div class="caracteristicasItemSubProd">
                    <p>Limpiador de acopladores.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="claseProductosLimpieza">
        <div class="tituloLimpieza">
            <h1>Paños</h1>
            <p catCuerpoSubPF="prodPaños" class="flechasSubProd"><i class="fas fa-sort-down mostrarProdF"></i><i class="fas fa-sort-up ocultarProdF"></i></p>
        </div>
        <div catCuerpoSubPF="prodPaños" class="cuerpoCategoria">
            
        </div>
    </div>
    <div class="claseProductosLimpieza">
        <div class="tituloLimpieza" >
            <h1>Alcohol Isopropilico</h1>
            <p catCuerpoSubPF="prodAlcoholIso" class="flechasSubProd"><i class="fas fa-sort-down mostrarProdF"></i><i class="fas fa-sort-up ocultarProdF"></i></p>
        </div>
        <div catCuerpoSubPF="prodAlcoholIso" class="cuerpoCategoria">
            <div class="itemSubProducto">
                <div class="imgItemSubProducto">
                    <a class="verfAlmacen">En Stock</a>
                    <img src="assets/ImgProductosPLimpieza/AlcoholSapolio.png" alt="producto1">
                </div>
                <div class="caracteristicasItemSubProd">
                    <p>Alcohol Isopropilico Sapolio</p>
                </div>
            </div>
        </div>
    </div>
</div>
