<div class="claseSubCategoriaInstInterna">
    <div class="claseProductosInterna">
        <div class="tituloInterna" >
            <h1>Racks</h1>
            <p catCuerpoSubPF="prodRacks" class="flechasSubProd"><i class="fas fa-sort-down mostrarProdF"></i><i class="fas fa-sort-up ocultarProdF"></i></p>
        </div>
        <div catCuerpoSubPF="prodRacks" class="cuerpoCategoria">
            <div class="itemSubProducto">
                <div class="imgItemSubProducto">
                    <a class="verfAlmacen">En Stock</a>
                    <img src="assets/ImgProductosInstInternas/ArmarioRack.png" alt="producto1">
                </div>
                <div class="caracteristicasItemSubProd">
                    <p>Armario Rack para equipos de Fibra Optica</p>
                </div>
            </div>
        </div>
    </div>
    <div class="claseProductosInterna">
        <div class="tituloInterna">
            <h1>Bandejas ODF</h1>
            <p catCuerpoSubPF="prodBandejasO" class="flechasSubProd"><i class="fas fa-sort-down mostrarProdF"></i><i class="fas fa-sort-up ocultarProdF"></i></p>
        </div>
        <div catCuerpoSubPF="prodBandejasO" class="cuerpoCategoria">
            <div class="itemSubProducto">
                <div class="imgItemSubProducto">
                    <a class="verfAlmacen">En Stock</a>
                    <img src="assets/ImgProductosInstInternas/Bandeja-InFrontSC-12P.png" alt="producto1">
                </div>
                <div class="caracteristicasItemSubProd">
                    <p>Bandeja ODF Frontal SC-12P</p>
                </div>
            </div>
            <div class="itemSubProducto">
                <div class="imgItemSubProducto">
                    <a class="verfAlmacen">En Stock</a>
                    <img src="assets/ImgProductosInstInternas/Bandeja-TraseraSC-24P.png" alt="producto2">
                </div>
                <div class="caracteristicasItemSubProd">
                    <p>Bandeja ODF Trasera SC-24P</p>
                </div>
            </div>
            <div class="itemSubProducto">
                <div class="imgItemSubProducto">
                    <a class="verfAlmacen">En Stock</a>
                    <img src="assets/ImgProductosInstInternas/Bandeja-InFront-48P.png" alt="producto3">
                </div>
                <div class="caracteristicasItemSubProd">
                    <p>Bandeja ODF Frontal SC-48P</p>
                </div>
            </div>
            <div class="itemSubProducto">
                <div class="imgItemSubProducto">
                    <a class="verfAlmacen">En Stock</a>
                    <img src="assets/ImgProductosInstInternas/Bandeja-InFrontSC-24P.png" alt="producto4">
                </div>
                <div class="caracteristicasItemSubProd">
                    <p>Bandeja ODF Frontal SC-24P</p>
                </div>
            </div>  
        </div>
    </div>
    <div class="claseProductosInterna">
        <div class="tituloInterna">
            <h1>Cajas De Distribución FTTH</h1>
            <p catCuerpoSubPF="prodCajaFtth" class="flechasSubProd"><i class="fas fa-sort-down mostrarProdF"></i><i class="fas fa-sort-up ocultarProdF"></i></p>
        </div>
        <div catCuerpoSubPF="prodCajaFtth" class="cuerpoCategoria">
            <div class="itemSubProducto">
                <div class="imgItemSubProducto">
                    <a class="verfAlmacen">En Stock</a>
                    <img src="assets/ImgProductosInstInternas/CajaDistribucionNAP.png" alt="producto4">
                </div>
                <div class="caracteristicasItemSubProd">
                    <p>Caja de distribucion Interna</p>
                </div>
            </div>
        </div>
    </div>
    <div class="claseProductosInterna">
        <div class="tituloInterna">
            <h1>Rocetas</h1>
            <p catCuerpoSubPF="prodRocetas" class="flechasSubProd"><i class="fas fa-sort-down mostrarProdF"></i><i class="fas fa-sort-up ocultarProdF"></i></p>
        </div>
        <div catCuerpoSubPF="prodRocetas" class="cuerpoCategoria">
            <div class="itemSubProducto">
                <div class="imgItemSubProducto">
                    <a class="verfAlmacen">En Stock</a>
                    <img src="assets/ImgProductosInstInternas/RosetaTeledori1.png" alt="producto1">
                </div>
                <div class="caracteristicasItemSubProd">
                    <p>Roceta Teledori FTTH 2 entradas</p>
                </div>
            </div>
            <div class="itemSubProducto">
                <div class="imgItemSubProducto">
                    <a class="verfAlmacen">En Stock</a>
                    <img src="assets/ImgProductosInstInternas/RocetaGenerica.png" alt="producto4">
                </div>
                <div class="caracteristicasItemSubProd">
                    <p>Caja terminal roceta generica</p>
                </div>
            </div>
            <div class="itemSubProducto">
                <div class="imgItemSubProducto">
                    <a class="verfAlmacen">En Stock</a>
                    <img src="assets/ImgProductosInstInternas/RocetaTipoHuawei.png" alt="producto4">
                </div>
                <div class="caracteristicasItemSubProd">
                    <p>Caja terminal roceta tipo Huawei</p>
                </div>
            </div>
        </div>
    </div>
</div>
